<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" placeholder="Task" required>
                <input type="date" name="due_date" required>
                <input type="checkbox" name="is_completed">
                <select name="list">
                    <option value="list1">List 1</option>
                    <option value="list2">List 2</option>
                    <!--
                    {% for list in list.all %}
                    <option value="{{ list.name }}">{{ list.name }}</option>
                    {% endfor %}
                    This for loop allows us to create a dynamic list that populates the list options with our list object names!!
                    -->
                    <!-- Add more lists as needed -->
                </select>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>